<div class="overlay">
    <div class="modal-container text-left">
        <p>Title: </p>
        <p>First Name: </p>
        <p>Last Name: </p>
        <p>Date of Birth: </p>
        <p>Gender: </p>
        <br>
        <p>Email: </p>
        <p>Phone: </p>
        <br>
        <p>Home Address: </p>
        <br>
        <p>Tax File Number: </p>
        <p>Residency Status: </p>
        <p>Tax Free Threshold: </p>
        <p>HELP Debt: </p>
        <p>SFSS Debt: </p>
        <br>
        <p>Bank Account Details: </p>
        <br>
        <p>BSB: ${account["bSB"]}</p>
        <p>Account Number: ${account["accountNumber"]}</p>
        <p>Remainder: ${account["remainder"]}</p>
        <p>Fixed Amount: ${account["amount"]}</p>
        <br>
        <br>
        <p>Super Details: </p>
        <p>FundName: ${superFund["Name"]}</p>
        <p>USI: ${superFund["USI"]}</p>
        <p>Employer Number: ${superFund["EmployerNumber"]}</p>
        <p>Employee Number: ${membership["employeeNumber"]}</p>
        <br>
    </div>
</div>