<%- include ('header.ejs') -%>
<section id="about-header"></section>
<section id='description' class="p-5 text-center">
    <p class="text-white mx-auto col-lg-6 fw-bold fs-5">We are a dedicated team of business professionals who believe that accurate numbers tell useful stories.
        We guide Australian business owners to make better decisions and direct you towards higher profits.
        Our unique style of number crunching will help shape the future of your business.</p>
</section>
<section id="team">
    <h2 class="text-center my-5 fw-bold" style="color: var(--darkblue);">Meet the Team</h2>
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="/images/About/laurence.png" alt="connectt laurence" class="team-tag">
                <h4 class="service-header mt-4 fs-5"><strong>Laurence van Niekerk</strong></h4>
                <p class="service-text mb-4">Co-Founder</p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/images/About/kim.png" alt="connectt kim" class="team-tag">
                <h4 class="service-header mt-4 fs-5"><strong>Kim Quigley</strong></h4>
                <p class="service-text mb-4">Co-Founder</p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/images/About/Chantelle.png" alt="connectt chantelle" class="team-tag">
                <h4 class="service-header mt-4 fs-5"><strong>Chantelle Smith</strong></h4>
                <p class="service-text mb-4">Office Manager</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="/images/About/Rachel.png" alt="connectt rachel" class="team-tag">
                <h4 class="service-header mt-4 fs-5"><strong>Rachel Gordon-Duford</strong></h4>
                <p class="service-text mb-4">Bookkeeper</p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/images/About/joanna.png" alt="connectt joanna" class="team-tag">
                <h4 class="service-header mt-4 fs-5"><strong>Joanna Wuthrich</strong></h4>
                <p class="service-text mb-4">CPA</p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/images/About/kathleen.png" alt="connectt laurence" class="team-tag">
                <h4 class="service-header mt-4 fs-5"><strong>Kathleen Mae Aba-a</strong></h4>
                <p class="service-text">CPA</p>
            </div>
        </div>
    </div>
</section>
    <div id="laurence" class="popup">
        <div class="popup_content flex">
            <div class="half">
                <img src="/images/About/laurencep.jpg" class="bio" alt="laurence van niekerk">
            </div>
            <div class="half">
                <span onclick="document.getElementById('laurence').style.display='none'" style="float:right; cursor: pointer;">&times;</span>
                <h2>Laurence van Niekerk</h2>
                <p style="font-style: italic; margin: 20px 0;">"Turnover is vanity. Profit is sanity. </br>Money is reality."</p>
                <p>- Bachelor of Science</br>- MBA</p>
                <p style="margin: 20px 0 40px 0">P: 0434 213 822</br>E: laurence@connecttbs.com</p>
                <a href="mailto:laurence@connecttbs.com" class="btn btn-primary">Contact Laurence</a>
            </div>
        </div>
    </div>
    <div id="kim" class="popup">
        <div class="popup_content flex">
            <div class="half">
                <img src="/images/About/kimp.jpg" class="bio" alt="kim quigley">
            </div>
            <div class="half">
                <span onclick="document.getElementById('kim').style.display='none'" style="float:right; cursor: pointer;">&times;</span>
                <h2>Kim Quigley</h2>
                <p style="font-style: italic; margin: 20px 0;">"Work hard. Play harder!"</p>
                <p>- Bachelor of Business (Accounting)</br>- Registered BAS Agent (25664385)</br>- Member of The Institute of Certified Bookkeepers</br>- MYOB Professional Partner</br>- XERO Certified Partner</p>
                <p style="margin: 20px 0 40px 0">P: 0401 467 491</br>E: kim@connecttbs.com</p>
                <a href="mailto:kim@connecttbs.com" class="btn btn-primary">Contact Kim</a>
            </div>
        </div>
    </div>
    <div id="chantelle" class="popup">
        <div class="popup_content flex">
            <div class="half">
                <img src="/images/About/chantellep.jpg" class="bio" alt="chantelle smith">
            </div>
            <div class="half">
                <span onclick="document.getElementById('chantelle').style.display='none'" style="float:right; cursor: pointer;">&times;</span>
                <h2>Chantelle Smith</h2>
                <p style="font-style: italic; margin: 20px 0;">"Ships in the harbour are safe. But that's not what ships were made for."</p>
                <p>- Chartered Accountant</br>- BCOM Honours Business Degree</br>- Diploma in Management</br>- Cert IV in Training and Assessment</br>- EDISC - Behavioural Profiling</br>- Advanced Certificate in Public Relations</p>
                <p style="margin: 20px 0 40px 0">E: chantelle@connecttbs.com</p>
                <a href="mailto:chantelle@connecttbs.com" class="btn btn-primary">Contact Chantelle</a>
            </div>
        </div>
    </div>
    <div id="rachel" class="popup">
        <div class="popup_content flex">
            <div class="half">
                <img src="/images/About/rachelp.jpg" class="bio" alt="rachel gordon-duford">
            </div>
            <div class="half">
                <span onclick="document.getElementById('rachel').style.display='none'" style="float:right; cursor: pointer;">&times;</span>
                <h2>Rachel Gordon-Duford</h2>
                <p style="font-style: italic; margin: 20px 0;">"Don't let the fear of losing be greater than the excitement of winning."</p>
                <p>- Cert IV in Bookkeeping</p>
                <p style="margin: 20px 0 40px 0">E: rachel@connecttbs.com</p>
                <a href="mailto:rachel@connecttbs.com" class="btn btn-primary">Contact Rachel</a>
            </div>
        </div>
    </div>
    <div id="joanna" class="popup">
        <div class="popup_content flex">
            <div class="half">
                <img src="/images/About/joannap.jpg" class="bio" alt="joanna wuthrich">
            </div>
            <div class="half">
                <span onclick="document.getElementById('joanna').style.display='none'" style="float:right; cursor: pointer;">&times;</span>
                <h2>Joanna Wuthrich</h2>
                <p style="font-style: italic; margin: 20px 0;">“We are what we repeatedly do. Excellence is not an act, but a habit.”</p>
                <p>-  Certified Public Accountant</p>
                <p style="margin: 20px 0 40px 0">E: joanna@connecttbs.com</p>
                <a href="mailto:joanna@connecttbs.com" class="btn btn-primary">Contact Joanna</a>
            </div>
        </div>
    </div>
    <div id="kathleen" class="popup">
        <div class="popup_content flex">
            <div class="half">
                <img src="/images/About/kathleenp.jpg" class="bio" alt="kathleen mae aba-a">
            </div>
            <div class="half">
                <span onclick="document.getElementById('kathleen').style.display='none'" style="float:right; cursor: pointer;">&times;</span>
                <h2>Kathleen Mae Aba-a</h2>
                <p style="font-style: italic; margin: 20px 0;">“A Diamond used to be a chunk of coal, turned beautiful under pressure”</p>
                <p>-   Bachelor of Science in Accountancy<br>-    Certified Public Accountant</p>
                <p style="margin: 20px 0 40px 0">E: kathleen@connecttbs.com</p>
                <a href="mailto:kathleen@connecttbs.com" class="btn btn-primary">Contact Kathleen</a>
            </div>
        </div>
    </div>
<section id="associations">
    <div class="p-5" style="background-color: var(--darkblue);">
        <h2 class="text-white"><strong>Industry Associations</strong></h2>
        <p class="text-white my-3">Connectt Total Business solutions is a proud member of the following associations:</p>
    </div>

   <div class="slider-body">
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="/images/About/badge4.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge1.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge6.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge3.jpg" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge5.jpg" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge4.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge1.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge6.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge3.jpg" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge5.jpg" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge4.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge1.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge6.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge3.jpg" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge5.jpg" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge4.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge1.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge6.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge3.jpg" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge5.jpg" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge4.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge1.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge6.png" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge3.jpg" height="200" width="200" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/About/badge5.jpg" height="200" width="200" alt="" />
                </div>
            </div>
   </div>
    </div>
</section>
<%- include ('footer.ejs') -%>