<%- include ('header.ejs') -%>

<section id="bookkeeping-landing">
  <div class="service-container">
    <h1 class="service-title"><strong>Connectt Total Bookkeeping</strong></h1>
    <div class="service-buttons">
      <a href="/contact" class="btn btn-lg btn-light">Get in Touch</a>
    </div>
  </div>
</section>

<section id="reconcile" class="p-lg-5 py-3">
  <h2 class="reconcile-text text-center my-3">
    <strong>We reconcile so you don’t have to!</strong>
  </h2>
  <p class="service-text w-75 mx-auto my-3 text-center">
    Is data entry and number crunching boring and time consuming? Let us take
    bookkeeping off your plate! We love numbers, problem solving and finding
    ways to make the numbers make sense to you. We not only manage your
    bookkeeping, we teach you how to set your business up for success to save
    you time and money.
  </p>
</section>
<hr class="w-75 mx-auto my-2" />
<section id="bookkeeping-services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 blurb">
        <p class="service-text mx-5">Bookkeeping</p>
        <h2 class="bookkeeping-accordion-text w-75">
          <strong>Here's what we can do for you.</strong>
        </h2>
        <p class="service-text mx-5 my-4">Our friendly and efficient bookkeeping staff take the place of an employee that you would otherwise have to manage. From your financial data, we produce well organized and accurate records to help your business run more efficiently.</p>
        <a href="/contact" class="btn btn-lg btn-outline-primary blurb-button" style="margin: 0px 0 0 40px;">Get in Touch</a>
      </div>
      <div class="col-lg-6">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
              <i class="fas fa-play acc-icon"></i> New Business Setup
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul style="color: var(--darkblue); width: 80%">
                  <li>Set up cost-effective bookkeeping processes.</li>
                  <li>
                    Set up new accounting software or assist with software
                    conversions
                  </li>
                  <li>
                    Provide training for you and your staff on new products and
                    new accounting software.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
              <i class="fas fa-calculator acc-icon"></i>Bookkeeping
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul style="color: var(--darkblue); width: 80%">
                  <li>
                    Accurately record your financial information (invoices,
                    bills, journals).
                  </li>
                  <li>Reconcile bank feeds.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
              <i class="fas fa-money-bill acc-icon"></i>Payroll
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul style="color: var(--darkblue); width: 80%">
                  <li>
                    Process your payroll on a weekly, fortnightly or monthly
                    basis.
                  </li>
                  <li>Submit Single Touch Payroll (STP) reports to the ATO.</li>
                  <li>Set up new employees or terminate existing ones.</li>
                  <li>
                    Manage your staff’s entitlements (annual leave, sick leave,
                    superannuation payments).
                  </li>
                  <li>Submit EOFY payroll reports to the ATO.</li>
                  <li>Prepare and submit workers compensation forms.</li>
                  <li>
                    Assist in setting up and integrating staff scheduling &
                    timekeeping software (Deputy, Tanda).
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour"
                aria-expanded="false"
                aria-controls="flush-collapseFour"
              >
              <i class="fas fa-building acc-icon"></i>BAS & IAS
              </button>
            </h2>
            <div
              id="flush-collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul style="color: var(--darkblue); width: 80%">
                  <li>BAS and IAS preparation and lodgement.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive"
                aria-expanded="false"
                aria-controls="flush-collapseFive"
              >
              <i class="fas fa-balance-scale acc-icon "></i>Accounts Receivable & Payable
              </button>
            </h2>
            <div
              id="flush-collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingFive"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul style="color: var(--darkblue); width: 80%">
                    <li>Prepare and email statements to clients that have outstanding balances</li>
					          <li>Reconcile your payables against supplier statements.</li>
					          <li>Create payment (ABA) files, making supplier payments easy and faultless.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSix"
                aria-expanded="false"
                aria-controls="flush-collapseSix"
              >
              <i class="fas fa-business-time acc-icon"></i>Grants & Subsidies
              </button>
            </h2>
            <div
              id="flush-collapseSix"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingSix"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul style="color: var(--darkblue); width: 80%">
                    <li>Stay up to date with government grants and subsidies</li>
					<li>Assist in applying for above grants and subsidies.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="w-75 mx-auto my-2" />
<section id="book-other-services" class="text-center p-5">
    <h2 class="text-center mb-5" style="color:var(--darkblue)"><strong>More Services:</strong></h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 ms-auto mx-3 other-service" id="tax" style="border-bottom: 10px solid var(--purple); box-sizing: content-box;" onclick="window.location.href = '../tax';">
                <h3 class="text-center other-heading"><strong>TAX</strong></h3>
            </div>
            <div class="col-lg-3 me-auto other-service" id="profit" style="border-bottom: 10px solid var(--profit); box-sizing: content-box;" onclick="window.location.href = '../profit';">
                <h3 class="text-center other-heading" ><strong>PROFIT</strong></h3>
            </div>
        </div>
    </div>
</section>
<%- include ('footer.ejs') -%>
