<%- include ('header.ejs') -%>

<section id="landing" class="p-5">
    <h1 class="text-center text-white"><strong>Give us a Shout!</strong></h1>
    <p class="text-center w-75 text-white m-auto">Want to get in touch? We'd love to hear from you. Here's how you can reach us...</p>
</section>

<%- include ('footer.ejs') -%>