
<%- include ('header.ejs') -%>

<section id="title" >
    <div class="container-fluid title-container">
      <div class="landing-title">
        <h1 class="text-white title-text">your <strong>profit</strong> <br> is our <strong>priority.</strong></h1>
        <div class="title-buttons">
          <a href="/contact" class="btn btn-primary btn-lg-lg title-button">Get in Touch</a>
          <a href="#services" class="btn btn-outline-light btn-lg-lg title-button">Discover</a>
        </div>
      </div>
    </div>
</section>
<section id="services">
  <div class="row">
    <div class="service-icon col-lg-3 col-md-6">
      <img src="images/home/bookkeeping.png" width="50%" alt="bookkeeping icon" onclick="window.location.href = '../bookkeeping';">
      <h4 class="service-header mt-4 fs-5"><strong>Bookkeeping</strong></h4>
      <p class="service-text mb-4">Happiness is when Debits = Credits. We'll take care of it</p>
    </div>
    <div class="service-icon col-lg-3 col-md-6">
      <img src="images/home/bas.png" width="50%" alt="bas icon" onclick="window.location.href = '../bookkeeping';">
      <h4 class="service-header mt-4 fs-5"><strong>BAS & IAS</strong></h4>
      <p class="service-text mb-4">We know this is the boring bit, let us make sure it's right.</p>
    </div>
    <div class="service-icon col-lg-3 col-md-6">
      <img src="images/home/Payroll.png" width="50%" alt="bookkeeping icon" onclick="window.location.href = '../bookkeeping';">
      <h4 class="service-header mt-4 fs-5"><strong>Payroll & Super</strong></h4>
      <p class="service-text mb-4">Let us deal with your Payroll and STP. We love it!</p>
    </div>
    <div class="service-icon col-lg-3 col-md-6">
      <img src="images/home/tax.png" width="50%" alt="bookkeeping icon" onclick="window.location.href = '../tax';">
      <h4 class="service-header mt-4 fs-5"><strong>Tax</strong></h4>
      <p class="service-text mb-4">Death and the tax man right? Let us do it for you!</p>
    </div>
  </div>
  <div class="row">
    <div class="service-icon col-lg-3 col-md-6">
      <img src="images/home/profit.png" width="50%" alt="profit icon" onclick="window.location.href = '../profit';">
      <h4 class="service-header mt-4 fs-5"><strong>Profit</strong></h4>
      <p class="service-text mb-4">We not only count your beans, but help you grow them.</p>
    </div>
    <div class="service-icon col-lg-3 col-md-6">
      <img src="images/home/cashflow.png" width="50%" alt="cashflow icon" onclick="window.location.href = '../profit';">
      <h4 class="service-header mt-4 fs-5"><strong>Cashflow</strong></h4>
      <p class="service-text mb-4">Manage your numbers and you'll never miss a bill!</p>
    </div>
    <div class="service-icon col-lg-3 col-md-6">
      <img src="images/home/reporting.png" width="50%" alt="reporting icon" onclick="window.location.href = '../profit';">
      <h4 class="service-header mt-4 fs-5"><strong>Reporting</strong></h4>
      <p class="service-text mb-4">Let your data tell it's story with our financial reporting team.</p>
    </div>
    <div class="service-icon col-lg-3 col-md-6">
      <img src="images/home/cfo.png" width="50%" alt="virtual cfo icon" onclick="window.location.href = '../profit';">
      <h4 class="service-header mt-4 fs-5"><strong>Virtual CFO</strong></h4>
      <p class="service-text mb-4">Need some advice? Hire your own dedicated CFO!</p>
    </div>
  </div>
</section>

<section id="whoWeAre">
  <div class="team-card">
    <h3>Who We Are</h3>
    <p>We are a dedicated team of business professionals who believe that accurate numbers tell useful stories.
      ​ We guide business owners to make sound decisions and steer them towards higher profits.
      Our style of number crunching can help shape the future of your business.</p>
  </div>
</section>

<section id="why">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <img src="images/home/cloud.png" width="70%" alt="cloud based" class="cloud">
        <h4 class="service-header mt-4 fs-5 cloud"><strong>Cloud Based</strong></h4>
        <p class="service-text mb-4">We utilise the latest cloud-based technology & automated processes</p>
      </div>
      <div class="col-lg-4">
        <img src="images/home/australia.png" width="70%" alt="australian wide">
        <h4 class="service-header mt-4 fs-5"><strong>Australia Wide</strong></h4>
        <p class="service-text mb-4">Australian based, dedicated bookkeepers, tax and profit growth specialists.</p>
      </div>
      <div class="col-lg-4">
        <img src="images/home/month.png" width="70%" alt="australian wide">
        <h4 class="service-header mt-4 fs-5"><strong>Pay Monthly</strong></h4>
        <p class="service-text mb-4">Our monthly payments allow you to spread the cost of your accounting fees over a whole year, helping to improve your cash flow.</p>
      </div>
    </div>
  </div>
</section>
<section id="recommended">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="images/home/stars.png" class="d-block w-25 mx-auto stars" alt="...">
        <p class="text-white carousel-text"><em>"I was discussing the struggles of small business, especially bookkeeping with a friend and she said: " I have Laurence from Connect Total Business Solution, they save me valuable time and look after everything for me and I don't have to worry." I called Laurence the very next day..... Laurence & Rachel are always professional, quick and knowledgeable. I trust their advice and they make running a small business so much easier and gives me time to focus on the actual business."</em></p>
        <p class="text-white carousel-text"><strong>Karen </strong>- Bayview Solutions</p>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="images/home/stars.png" class="d-block w-25 mx-auto stars" alt="...">
        <p class="text-white carousel-text"><em>"Professionalism, Quality, Responsiveness and Value. Thank you so much for looking after our business bookkeeping, payroll, super and payment summaries as well as other advice throughout the year. The service is always professional and accurate. Thank you again"</em></p>
        <p class="text-white carousel-text"><strong>Anita </strong>- Advanced Finance Solutions</p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</section>

<%- include ('footer.ejs') -%>