<%- include ('header.ejs') -%>

<section id="profit-landing">
  <div class="service-container">
    <h1 class="service-title"><strong>Connectt Total Profit</strong></h1>
    <div class="service-buttons">
      <a href="/contact" class="btn btn-lg btn-outline-light">Get in Touch</a>
    </div>
  </div>
</section>

<section id="reconcile" class="p-lg-5 py-3">
  <h2 class="reconcile-text text-center my-3 mx-auto">
    <strong>Let us assist your decision making.</strong>
  </h2>
  <p class="service-text w-75 mx-auto my-3 text-center">
    We ensure that	businesses overcome	 their perceived challenges,	
allowing	them	to	move	forward	with	wealth	creation	for	the	long-term	and	recognise	success.
  </p>
</section>
<hr class="w-75 mx-auto my-2" />
<section id="bookkeeping-services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 blurb">
        <p class="service-text mx-5">Profit Growth</p>
        <h2 class="bookkeeping-accordion-text w-75">
          <strong>How we maximise your profit.</strong>
        </h2>
        <p class="service-text mx-5 my-4">Our Profit Growth Services include the vital ingredients to achieve sustainable cash flows, improved profitability and effective strategic decision making. <br><br>Allow your business to realise its full potential.
            </p>
        <a href="/contact" class="btn btn-lg btn-outline-primary blurb-button" style="margin: 0px 0 0 40px;">Talk to Us</a>
      </div>
      <div class="col-lg-6">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
              <i class="fas fa-money acc-icon"></i> Cash Flow Management
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul style="color: var(--darkblue); width: 80%">
                    <li>Short term cash flow projections to facilitate informed decision making.</li>
					<li>Long term cash flow budgets to steer your business towards set goals.</li>
					<li>Prepare Track actual vs budget cash flow reports.</li>
					<li>Assist in implementing processes to improve cash flow.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
              <i class="fas fa-user acc-icon"></i>Management Accounting
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul style="color: var(--darkblue); width: 80%">
                    <li>Assist in creating annual budgets and longer term financial forecasts.</li>
					<li>Assist with setting up a system that accurately measures and allocates costs against Jobs and Services.</li>
					<li>Prepare monthly reports to review Job/Services profitability.</li>
					<li>Assist in implementing systems to improve Job/Services profitability.</li>
					<li>Identify and assist in setting targets for financial KPI’s (Key Performance Indicators).</li>
					<li>Monthly/quarterly management meetings to review KPI’s and budget vs actual reports.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
              <i class="fas fa-user-ninja acc-icon"></i>Virtual CFO
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul style="color: var(--darkblue); width: 80%">
                    <li>Cash Flow Management as shown above.</li>
					<li>Management Accounting as shown above.</li>
					<li>Assist in formulating business strategies.</li>
					<li>Review existing operational processes to ensure operational efficiency.</li>
					<li>Present monthly financial reports at management / board meetings.</li>
					<li>Oversee the capital structure of the business to ensure sufficient funding available to realise business goals and strategies.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<hr class="w-75 mx-auto my-2" />
<section id="book-other-services" class="text-center p-5">
    <h2 class="text-center mb-5" style="color:var(--darkblue)"><strong>More Services:</strong></h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 ms-auto mx-3 other-service" id="bookkeeping"style="border-bottom: 10px solid var(--bookkeeping); box-sizing: content-box;" onclick="window.location.href = '../bookkeeping';">
                <h3 class="text-center other-heading"><strong>BOOKKEEPING</strong></h3>
            </div>
            <div class="col-lg-3 me-auto other-service" id="tax" style="border-bottom: 10px solid var(--purple); box-sizing: content-box;" onclick="window.location.href = '../tax';">
                <h3 class="text-center other-heading" ><strong>TAX</strong></h3>
            </div>
        </div>
    </div>
</section>
<%- include ('footer.ejs') -%>
