html, body, .body {
    /* background: linear-gradient(0.45turn, var(--profit), var(--bookkeeping)); */
    background-color: var(--profit);
    height: 100%;
    overflow: scroll;
}

.navbar {
    border-right: 1px solid white;
    height: 100%;
    box-shadow: 0px 0px 10px 0px var(--darkblue);
    background: linear-gradient(0.25turn, white, rgb(235, 235, 235));
    color: var(--darkblue);
}



.logo-container{
    flex: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var()
}

.nav-container{
    flex: 7
}

.user-container{
    flex: 3
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    border-bottom: 1px solid #42a5f5;
}

.nav-item {
    cursor: pointer;
}
.nav-item:hover{
    background-color: var(--darkblue);
    color: white;
    border-left: 5px solid #42a5f5;
}

.nav-item-active{
    background-color: var(--darkblue);
    color: white;
    border-left: 5px solid #42a5f5;
}
.user-container{
    border-bottom: 1px solid white;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: var(--darkblue);
}


.new-employee-container, .profile-container {
    height: 100%;
    overflow: scroll;
}

.clients-table-container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 600px;
    overflow-x: scroll;
}



table {
    width: 100%;
    border-collapse: collapse;
    padding: 15px;
    max-width: 100%;
    align-items: center;
}

th {
    color: white;
    background-color: var(--profit);
    border-bottom: 1px solid lightgrey;
    padding: 20px 10px;
    align-items: center;
}

td {
    padding: 20px 10px;
    border-bottom: 1px solid lightgrey;
    align-items: center;
}

tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color:rgb(17,184,217,0.2);}

.more-info {
    border-radius: 10px;
    width: 120px;
    background-color: var(--profit);
    text-align: center;
    color: white;
    padding: 5px 20px;
    margin: 0;
    cursor: pointer;
}

.status-dark, .status-green, .status-light, .status-red  {
    border-radius: 10px;
    width: 120px;
    text-align: center;
    color: white;
    padding: 5px 20px;
    margin: 0;
    cursor: pointer;
}

.status-light {
    background-color: var(--profit);
}

.status-dark {
    background-color: var(--darkblue);
}

.status-green {
    background-color: var(--purple);
}

.status-red {
    background-color: rgb(173, 0, 0);
}

.new-request {
    border-radius: 100%;
    background-color:  var(--purple);
    padding: 5px 12px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.5);
}

.modal-container {
    background-color: var(--darkblue);
    border-radius: 10px;
    width: 70%;
    margin: 80px auto;
    height: 600px;
    overflow: scroll;
    padding: 60px;
    text-align: center;
    color: white;
}

.text-left {
    text-align: left !important;
}


@media (max-width: 768px) {
    html, body, .body {
        height: auto;
    }
}