
/* Index Header: */
.title-container {
    padding: 0 20px;
}

#title {
    padding: 0;
}

.landing-title {
    border-radius: 0px;
    background-image: url('../images/Home/branded balloon.png');
    background-size: cover;
    height: 650px;
}


.title-text {
    font-size: 60px;
    padding: 200px 0px 0 80px;
}


.title-buttons {
    margin-left: 70px;
}
.title-button {
    margin: 20px 10px;
}

.btn-primary {
    background-color: var(--bookkeeping);
    border: 1px solid var(--bookkeeping);
    font-size: 12px;
    padding: 10px 20px;
}

.btn-light {
    background-color: white;
    border: 1px solid white;
    font-size: 12px;
    padding: 10px 20px;
    color: var(--bookkeeping);
}

.btn-light:hover {
    color: white;
    background-color: rgb(0,0,0,0);
}

.btn-primary:hover {
    background-color: white;
    border: 1px solid white;
    color: var(--bookkeeping);
}

.btn-outline-light {
    font-size: 12px;
    padding: 10px 20px;
}

.btn-outline-primary {
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid var(--bookkeeping);
    color: var(--bookkeeping);
}

.btn-outline-primary:hover {
    background: var(--bookkeeping);
    color: white;
    border: 1px solid var(--bookkeeping);
} 


/* Services Section: */

#services {
    padding: 40px;
}

.service-icon {
    text-align: center;
    padding: 20px;
    transition: transform 400ms ease;
    cursor: pointer;
}

.service-icon:hover {
    transform: scale(1.05);
}

.service-text {
    opacity: 0.8;
    
}


/* Who We Are: */
#whoWeAre {
    background-image: url('../images/Home/aboutback.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center 100px;
    height: 500px;
    background-repeat: no-repeat;
    text-align: center;
}

.team-card {
    position: relative;
    width: 55%;
    background-color: var(--darkblue);
    margin: 0 auto;
    top: 350px;
    border-radius: 20px;
    color: white;
    padding: 30px;
}

/* Why: */
#why {
    text-align: center;
    padding-top: 120px;
}

/* Recommended: */
#recommended {
    padding: 40px;
    background-color: var(--darkblue);
    height: 400px;
}

.carousel-text {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

/* Media Query: */

@media (max-width: 768px) {
    .title-container {
        padding: 0 10px;
    }

    #title {
        padding: 0;
    }

    .title-text {
        text-align: center;
        font-size: 40px;
        padding: 60px 0 0 0;
    } 

    .landing-title {
        background-position: -955px 0px;
    }
    .title-buttons {
        text-align: center;
        margin-left: 0px;
    }
    .title-button {
        margin: 240px 10px 0 10px;
    } 

    #whoWeAre {
        background-size: stretch;
        background-attachment: scroll;
        height: 140px;
        background-position: 0 0;
    }

    .team-card {
        width: 100%;
        top: 140px; 
        border-radius: 0;   
    }

    #why {
        padding-top: 330px;
    }

    .cloud {
        margin-top: 0px !important;
    }

    #why .service-header {
        margin: 0 !important;
    }

    #recommended {
        padding: 0;
        height: 700px;
    }

    .stars {
        width: 200px !important;
    }

    .carousel-item {
        width: 100%;
        padding: 60px;
    }

    .carousel-text {
        width: 100%;
    }