<div class="col-lg-3 navbar d-flex flex-column p-0 align-items-start">
    <div class="logo-container w-100 text-center pt-3">
        <h2 class=" h1">connectt</h2>
        <hr class="w-75 ">
    </div>
    <div class="nav-container mb-auto w-100">
        <ul class="nav-list w-100">
            <li class="nav-profile p-3 w-100 nav-item nav-item-active"><i class="fas fa-user fa-m mx-4"></i> Profile</li>
            <li class="nav-new-employee p-3 w-100 nav-item"><i class="fas fa-check fa-m mx-4"></i> New Employee</li>
        </ul>
    </div>
    <div class="user-container w-100">
        <div class="d-flex justify-content-between w-100 px-3 pt-3">
            <p class=""><a href="../">Return to Website</a></p>
            <p class=""><a href="../logout">Logout</a></p>
        </div>
        <hr class="w-75  mx-auto">
        <div class="user pt-4 pb-2">
            <p class=""><%= customer.company %></p>
        </div>
        <p class="fs-sm pt-3 px-2 ">powered by Architech.</p>
    </div>
</div>