<div class="new-employee-container text-white text-center d-flex flex-column justify-content-center d-none">

    <form id="new-employee-form" action="/new-employee-request" method="POST">
        
        <div class="tab">
        <p class="text-white mt-5 mt-lg-0 text-left h2 fw-light my-3">New Employee Request:</p>
          <input placeholder="First name" name="firstName">
          <input placeholder="Last name" name="lastName">
          <input type="hidden" name="company" id="company" value="<%= customer.company %>">
        </div>
        
        <div class="tab">
            <p class="text-white mt-5 mt-lg-0 text-left h2 fw-light my-3">Contact:</p>
              <input placeholder="Email" name="email">
              <input placeholder="Phone" name="phone">
        </div>

        <div class="tab">
            <p class="text-white mt-5 mt-lg-0 text-left h2 fw-light my-3">Position:</p>
              <input placeholder="Job Title" name="jobTitle">
              <label for="startDate">Start Date:</label>
              <input type="date" name="startDate" id="startDate" placeholder="dd-mm-yyyy">
              <label for="employmentBasis">Employment Basis:</label>
              <div class="btn-group text-center mx-auto w-100 px-2" role="group">
                <input type="radio" class="btn-check" name="employmentBasis" id="fullTime" autocomplete="off" value="FULLTIME" checked>
                <label class="btn btn-outline-light my-2" for="fullTime">Full-Time</label>
              
                <input type="radio" class="btn-check" name="employmentBasis" id="partTime" autocomplete="off" value="PARTTIME">
                <label class="btn btn-outline-light my-2" for="partTime">Part-Time</label>
              
                <input type="radio" class="btn-check" name="employmentBasis" id="casual" autocomplete="off" value="CASUAL">
                <label class="btn btn-outline-light my-2" for="casual">Casual</label>
            </div>
              <input placeholder="Hourly Rate in AUD" name="rate">
              <input placeholder="Award Classification" name="classification" minlength="8" maxlength="8">
              <a href="https://www.fairwork.gov.au/awards-and-agreements/awards/list-of-awards" class="mx-2 my-4">Find Award Classifcations here.</a>
        </div>

        <div class="tab">
           <div class="d-flex align-items-center"> 
            <input name="consent" required type="checkbox" class="w-25 checkbox"> 
            <p class="w-75">I hereby give permission for Connectt Total Business Solutions Pty Ltd to contact the nominated employee and obtain information regarding employment at <%= customer.company %></p>
           </div>
        </div>
        
        <div style="overflow:auto;" id="thanks" >
          <div class="text-center mt-4" id="form-btns">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>

        
        
        <!-- Circles which indicates the steps of the form: -->
        <div class="text-center mt-3">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
        
        </form>            
</div>