<div class="profile-container text-white text-center p-5 mt-5">
    <div class="w-75 mx-auto d-flex justify-content-between">
        <div></div>
        <i class="fas fa-edit d-block"></i>
    </div>
    <h1 class="my-2">Architech</h1>
    <div class="client-inf pt-5">
        <p><%= customer.firstName %> <%= customer.lastName %></p>
        <p><%= customer.email %></p>
        <p><%= customer.phone %></p>
    </div>
</div>